<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_JavaConfig-Form-Data-in-Memory-CRUD:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_JavaConfig_Form_Data_in_Memory_CRUD_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_Security_JavaConfig-in-Memory-authentication" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.10.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.10.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:4.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:4.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:4.2.3.RELEASE" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC_Security_JavaConfig-in-Memory-authentication/web/Web" />
    </root>
  </artifact>
</component>