@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

table, tr, td, th{
    border: 1px solid black;
}