<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC-java-config-form-data-Database-CRUD:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringMVC-java-config-form-data-Database-CRUD-1.0-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC-java-config-form-data-Database-CRUD" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.10.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.10.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:6.0.6" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.3.10.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.3.10.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/SpringMVC-java-config-form-data-Database-CRUD-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC-java-config-form-data-Database-CRUD/web/Web" />
    </root>
  </artifact>
</component>