<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="components">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/contents/css/signup.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript"
            th:src="@{/contents/js/signup.js}"></script>
    <link th:href="@{/contents/css/header.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

</body>
</html>